@model dynamic

@{
    ViewBag.Title = "Простая раскадровка";
    Layout = "_Layout";
}

<h2>Простая раскадровка</h2>
<p>Загрузите несколько фотографий и укажите высоту раскадровки</p>
<form enctype="multipart/form-data" action="/StoryBoarding/SaveSimpleStoryboard" method="post">
     <div class="form-group">
        <label for="" class="form-label">Выберите фотографию</label>
        <input name="Images" type="file" multiple/>
     </div>
    <div class="form-group">
        <label for="" class="form-label">Введите высоту в пискелях:</label>
        <input type="number" name="Height"/>    
    </div>
    
    <button  type="submit" class="btn btn-primary" >Кадрировать</button>    
</form>