@model dynamic

@{
    ViewBag.Title = "Сложная раскадровка";
    Layout = "_Layout";
}

<h2>Раскадровка произвольного дерева изображений с дополнительными отступами</h2>
<p>Загрузи фото и укажи высоту</p>
<form enctype="multipart/form-data" action="/StoryBoarding/SaveHardStoryboard" method="post">
    <div class="form-group">
        <label for="" class="form-label">Выберите фотографии (не меньше 6 штук)</label>
        <input name="Images" type="file" multiple/>
    </div>
    <div class="form-group">
        <label for="" class="form-label">Высота в пискелях ( не меньше 1200):</label>
        <input type="number" name="Height" min="1200"/>
    </div>
    <div class="form-group">
        <label for="" class="form-label">Отступ влево в пискелях:</label>
        <input type="number" name="paddingLeft" max="50"/>
    </div>
    <div class="form-group">
        <label for="" class="form-label">Отступ вправо в пискелях:</label>
        <input type="number" name="paddingRight" max="50"/>
    </div>
    <div class="form-group">
        <label for="" class="form-label">Верхний отступ в пискелях:</label>
        <input type="number" name="paddingTop" max="50"/>
    </div>
    <div class="form-group">
        <label for="" class="form-label">Нижний отступ в пискелях:</label>
        <input type="number" name="paddingBottom" max="50"/>
    </div>

    <button type="submit" class="btn btn-primary">Кадрировать</button>
</form>