@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h3 class="display-4">Тестовое задание</h3>
    <p>Мини-приложение для различной раскадровки изображений.</p>
    <div style="width:500px">
    </div>
</div>