@model dynamic

@{
    ViewBag.Title = "Средней сложности раскадровка";
    Layout = "_Layout";
}

<h2>Раскадровка произвольного дерева изображений</h2>
<p class="display-4">Загрузи фото и укажи высоту</p>
<form enctype="multipart/form-data" action="/StoryBoarding/SaveMediumStoryboard" method="post">
    <label for="" class="form-label">Выберите фотографию (4 штуки)</label>
    <input name="Images" type="file" multiple/>
        
    <label for="" class="form-label">Введите высоту в пискелях:</label>
    <input type="number" name="Height"/>
    <button>Кадрировать</button>    
</form>