@model dynamic

@{
    ViewBag.Title = "Средней сложности раскадровка";
    Layout = "_Layout";
}

<h2>Раскадровка произвольного дерева изображений</h2>
<p>Загрузите фотографии, укажите высоту</p>
<form enctype="multipart/form-data" action="/StoryBoarding/SaveMediumStoryboard" method="post">

    <div class="form-group">
        <label for="" class="form-label">Выберите фотографии (не меньше 6 штук) </label>
        <input name="Images" type="file" multiple/>
    </div>
    <div class="form-group">
        <label for="" class="form-label">Введите высоту в пискелях:</label>
        <input type="number" name="Height"/>
    </div>
        <button type="submit" class="btn btn-primary"> Кадрировать</button>
</form>